<form #f="ngForm" autocomplete="off" (ngSubmit)="accept(f)">
  <h3 mat-dialog-title>
    {{ title }}
    <mat-divider></mat-divider>
  </h3>
  <mat-dialog-content fxLayout="column">
    <p-text name="code" [(ngModel)]="model.def_code" [disabled]="disabled" placeholder="Mã" fxFlex></p-text>
    <p-text name="name" placeholder="Tên học viên" [(ngModel)]="model.name" [disabled]="disabled" required fxFlex>
    </p-text>
    <p-select [(ngModel)]="model.center_code" [ngModelOptions]="{standalone: true}" [disabled]="disabled"
      placeholder="Đơn vị" fxFlex [search]="true" label.search="Tìm kiếm đơn vị" label.empty="không tìm thấy đơn vị"
      required>
      <mat-option *ngFor="let center of centers" [value]="center.id" [attr.text]="center.value_to_search">
        {{ center.name }}</mat-option>
    </p-select>
    <p-text name="course" placeholder="Khóa" [(ngModel)]="model.course" [disabled]="disabled" fxFlex>
    </p-text>
    <p-select [(ngModel)]="model.major_code" [ngModelOptions]="{standalone: true}" [disabled]="disabled"
      placeholder="Chuyên môn" fxFlex [search]="true" label.search="Tìm kiếm chuyên môn"
      label.empty="không tìm thấy chuyên môn" required>
      <mat-option *ngFor="let major of majors" [value]="major.id" [attr.text]="major.value_to_search">
        {{ major.name }}</mat-option>
    </p-select>
    <p-select [(ngModel)]="model.classroom_code" [ngModelOptions]="{standalone: true}" [disabled]="disabled"
      placeholder="Lớp" fxFlex [search]="true" label.search="Tìm kiếm lớp" label.empty="không tìm thấy lớp" required>
      <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id" [attr.text]="classroom.value_to_search">
        {{ classroom.name }}</mat-option>
    </p-select>
    <p-date name="dob" placeholder="Ngày sinh (DD/MM/YYYY)" [(ngModel)]="model.date_of_birth" [disabled]="disabled"
      fxFlex></p-date>
    <p-email name="email" placeholder="Email" [(ngModel)]="model.email" [disabled]="disabled" fxFlex></p-email>
    <p-text name="phone" placeholder="Số điện thoại" [(ngModel)]="model.phone" [disabled]="disabled" fxFlex>
    </p-text>

  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-space"></span>
    <button mat-raised-button mat-dialog-close color="warn">Đóng</button>
    <button type="submit" mat-raised-button color="primary">Lưu</button>
  </mat-dialog-actions>
</form>