<div class="mat-elevation-z8">
  <mat-toolbar class="header">
    <span>Danh sách khóa học</span>
    <span class="flex-space"></span>
    <button mat-icon-button class="tenjin-icon-button green" (click)="refresh()" matTooltip="Làm mới dữ liệu"
      *ngIf="auth.permission() === 1 || auth.permission() === 2147483647">
      <mat-icon aria-label="refresh">refresh</mat-icon>
    </button>
    <button mat-icon-button class="tenjin-icon-button green" (click)="create()" matTooltip="Thêm mới"
      *ngIf="auth.permission() === 1 || auth.permission() === 2147483647">
      <mat-icon aria-label="add_circle">add_circle</mat-icon>
    </button>
    <button mat-icon-button class="tenjin-icon-button green" (click)="upload()" matTooltip="upload"
      *ngIf="auth.permission() === 1 || auth.permission() === 2147483647">
      <mat-icon aria-label="cloud_upload">cloud_upload</mat-icon>
    </button>
  </mat-toolbar>
  <div class="tenjin-container">
    <table mat-table [dataSource]="models" class="tenjin-table" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên nhân viên </th>
        <td mat-cell *matCellDef="let element"> {{value(element, 'employee.name')}} </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Mã </th>
        <td mat-cell *matCellDef="let element"> {{value(element, 'def_code')}} </td>
      </ng-container>
      <ng-container matColumnDef="major">
        <th mat-header-cell *matHeaderCellDef> Chuyên môn </th>
        <td mat-cell *matCellDef="let element"> {{value(element, 'major.name')}} </td>
      </ng-container>
      <ng-container matColumnDef="facutly">
        <th mat-header-cell *matHeaderCellDef> Khoa </th>
        <td mat-cell *matCellDef="let element"> {{value(element, 'facutly.name')}} </td>
      </ng-container>
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
        <td mat-cell *matCellDef="let element">
          <span>{{value(element, 'employee.date_of_birth') | date: 'dd/MM/yyyy'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu </th>
        <td mat-cell *matCellDef="let element">
          <span>{{value(element, 'start') | date: 'dd/MM/yyyy'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> Ngày kết thúc </th>
        <td mat-cell *matCellDef="let element">
          <span>{{value(element, 'end') | date: 'dd/MM/yyyy'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Khóa học </th>
        <td mat-cell *matCellDef="let element">
          <span>{{value(element, 'course.name')}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 220px"> Hành động </th>
        <td mat-cell *matCellDef="let element" style="width: 220px">
          <button mat-icon-button class="tenjin-icon-button blue" (click)="view(element)" matTooltip="Xem">
            <mat-icon aria-label="search">search</mat-icon>
          </button>
          <button mat-icon-button class="tenjin-icon-button orange"
            *ngIf="auth.permission() === 1 || auth.permission() === 2147483647" (click)="update(element)"
            matTooltip="Cập nhật">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button class="tenjin-icon-button red"
            *ngIf="auth.permission() === 1 || auth.permission() === 2147483647" (click)="unpublished(element)"
            matTooltip="Ngừng xuất bản" [hidden]="!value(element, 'is_published')">
            <mat-icon aria-label="close">close</mat-icon>
          </button>
          <button mat-icon-button class="tenjin-icon-button green"
            *ngIf="auth.permission() === 1 || auth.permission() === 2147483647" (click)="published(element)"
            matTooltip="Xuất bản" [hidden]="value(element, 'is_published')">
            <mat-icon aria-label="check">check</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="cols; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
  </div>
  <div class="fetching-indicator-container">
    <mat-progress-bar mode="indeterminate" [hidden]="!loading"></mat-progress-bar>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" [length]="total" [pageSize]="quantity" showFirstLastButtons>
  </mat-paginator>
</div>